.body{
  background-color: #AF2AA0;
}
.header{
  color: rgba(255, 255, 255, 0.694);
}
.collection{
  background-color: #AF2AA0;
}
.link{
  color: white;
  text-decoration: none;
}
.list-link{
  margin-bottom: 7px;
}
.list-link a:hover{
  color: white;
  font-size: 1.3em;
}
.dropdown-toggle{
  background-color: white;
  color: #AF2AA0;
}
.dropdown-toggle:hover{
  background-color: white;
  color: #AF2AA0;
}
.modal-title ,.modalDisplay, .btnClose, .dropdown-item{
  color: #AF2AA0;
}
.user-sub-container{
  border-bottom:1px solid rgba(153, 147, 147, 0.562);
}
.user-name-label{
  text-align:right; 
  color:#AF2AA0; 
  font-size:1.2em; 
  margin-top:5px;
}
.user-input{
  border:none; 
  margin-top: 10px;
  margin-bottom:7px; 
  font-weight:600;
}