@font-face{
  font-family: jim;
  src: url(JimNightshade-vdB9.ttf);
}
.user-form{
  flex-direction:column;
}
.info-header{
  border-bottom:1px solid rgba(153, 147, 147, 0.562); 
  text-align:center; 
  font-size:1.3em;
  color:#AF2AA0;
}
.user-sub-container{
  border-bottom:1px solid rgba(153, 147, 147, 0.562);
}
.user-input{
  border:none; 
  margin-top: 10px;
  margin-bottom:7px; 
  font-weight:600;
}
.company{
  text-align:center;  
  height:100px;
}
.company-logo{
  height:40px;
}
.company-name{
  font-family: jim;
  font-size:4.5em;
  height:50px;
  color:#AF2AA0;
  text-shadow: 5px 1px 9px rgba(0, 0, 0, 0.588);
}
.company-type{
  text-align:center; 
  margin-top:-35px; 
  margin-bottom:45px; 
  height:25px;
  font-size: 1.2em;
}
.user-container{
  flex-direction: column;
}
.user-name-label{
  text-align:right; 
  color:#AF2AA0; 
  font-size:1.2em; 
  margin-top:5px;
}
.login-link{
  text-decoration:none; 
  color:rgba(175, 42, 159, 0.904);
  text-align: center; 
  font-weight: 600;
  margin-bottom: 30px;
}
.user-password{
  justify-content: space-between;
}
@media only screen and (max-width:600px){
  .info-header{
    font-size: 1.3em
  }
  .user-name-label{
    font-size: 1em;
  }
}